extends layout

block layout-content
  div.View.WelcomeView
    h1.Banner DIRECTORY_SYNC
    div.Message
      div.Title
        h3 Using WorkOS Directory Sync
        h1 in a Node.JS Web App
      h3.Details Access a Directory for Details
      ul
        each directory in directories
          a(href=`/directory/${directory.id}`)
            p=directory.name
