extends layout

block layout-content
  div.View.UserView
    h1.Banner #{rawUser.first_name}_#{rawUser.last_name} User_Details
    div.Message
      div.Title
        h3 #{user}

    div.NavButtons
      a(href="javascript:history.back()")
        div.NavButton Go Back
